*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url("./woodBackground.png");
    background-size: cover;
    background-position: center;
}

.calculator {
    background-color: rgb(211, 211, 211);
    height: 75%;
    width: 30%;
    padding: 10px 10px;
    border: 1px solid black;
    border-radius: 10px;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(40px, auto);
    gap: 8px 12px;
}

.display {
    background-color: white;
    min-height: 75px;
    padding: 5px 10px;
    margin-bottom: 5px;
    border: 1px solid black;
    border-radius: 10px;

    display: grid;
    grid-column: 1/5;
    grid-template-rows: 1fr 2fr;
}

.currentOperation,
.currentInput {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.currentInput {
    font-size: 2em;
    border-top: 1px solid black;
}

button {
    font-size: 1em;
    border-radius: 10px;
}

.number,
.operator {
    font-size: 2em;
}

#clearBtn,
#deleteBtn {
    color: white;
    font-size: large;
}

#clearBtn {
    background-color: rgb(62, 136, 255);
    grid-column: 1/3;
}

#deleteBtn {
    background-color: rgb(199, 22, 51);
    grid-column: 3/5;
}

.operator {
    color: darkmagenta;
}