*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url("./woodBackground.jpeg");
    background-size: cover;
    background-position: center;
    overflow: auto;
}

.calculator {
    flex-shrink: 1;
    background-color: rgb(211, 211, 211);
    height: 500px;
    width: 300px;
    padding: 20px 10px;
    border: 1px solid black;
    border-radius: 10px;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 8px 12px;
    overflow: auto;
}

.display {
    background-color: white;
    max-width: 100%;
    padding: 5px 10px;
    margin-bottom: 5px;
    border: 1px solid black;
    border-radius: 10px;

    grid-column: 1/5;
    
    flex-grow: 0;
    display: grid;
    grid-template-rows: 1fr 2fr;
}

#ongoingFunction,
#currentInput {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    min-width: 0;
    max-width: 100%;
}

#currentInput {
    font-size: 2em;
    word-wrap: break-word;
    word-break: break-all;
}

#ongoingFunction {
    font-style: italic;
}

button {
    border-radius: 10px;
    font-size: 2em;
}

#clearBtn,
#deleteBtn {
    color: white;
    font-size: large;
}

#clearBtn {
    background-color: rgb(62, 136, 255);
    grid-column: 1/3;
}

#deleteBtn {
    background-color: rgb(199, 22, 51);
    grid-column: 3/5;
}

.operator {
    color: darkmagenta;
}

#equalsBtn {
    color: green;
}